<a href="https://colab.research.google.com/github/cml096/GoogleColabRepo/blob/master/PCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
import pandas as pd
df = pd.read_excel('OperTot - PowerView_ARCH1.xlsx')

In [68]:
list_drop = ['ID','shiftindex','crew#','unit#','tmcat08','tmcat09','tmcat10','tmcat11','tmcat12','tmcat13','tmcat14','tmcat15','tmcat16','tmcat17','tmcat18','tmcat19']
df.drop(list_drop,axis=1,inplace=True)

In [69]:
df['shift#'] = df['shift#'].astype(str)
df.totaltons = df.totaltons.astype(int)

Sacamos Columnas no numericas

In [71]:
list_drop = ['shiftdate','crew','eqmtid','locid','operid','pit','unit']
df_numeric = df.drop(list_drop,axis=1)

Dividimos la data en dos mustras

In [74]:
df_numeric_loads = df[(df.unit == 'Camion') | (df.unit == 'Pala')]
df_numeric_times = df[(df.unit == 'Aljibe') | (df.unit == 'Auxil') | (df.unit == 'Moto') | (df.unit == 'Perforadora') | (df.unit == 'Tractor')]

unit = Camion and Pala

In [75]:
group = df_numeric_loads.groupby(['unit']).mean()
pd.DataFrame(group)

              start    logintime  ...      tmcat06     tmcat07
unit                              ...
Camion  7519.509440  5629.299231  ...  2474.425941  833.342029
Pala    8189.362178  7270.051548  ...  5120.305893  895.594629

[2 rows x 17 columns]

data set loads == 0

In [76]:
group = df_numeric_times.groupby(['unit']).sum()
pd.DataFrame(group)

                 start  logintime  totaltime  ...    tmcat05   tmcat06   tmcat07
unit                                          ...
Aljibe        46281600   19166621  150301236  ...   22917736  14632361   1553606
Auxil          6912000     339621   37575309  ...   19220113   4194572         0
Moto          26942400   17179045   75150618  ...   25836590   4652780   3400873
Perforadora  111110400  106728314  255441345  ...  102176361  44610119   8537996
Tractor      117532800   58437316  369972981  ...  102918537  56849809  11122380

[5 rows x 17 columns]

In [29]:
list_drop = ['shiftdate','crew','eqmtid','locid','operid','pit','unit']
df_numeric_loads.drop(list_drop,axis=1,inplace=True)
df_numeric_times.drop(list_drop,axis=1,inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4169: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

Drop columns whose mean is equals to 0 (?)

In [107]:
list_drop = ['totalloads','totaltons','loadtime','idletime','spottime','loadcnt']
#df_numeric_times = df_numeric_times.drop(list_drop,axis=1)

In [ ]:
#df_numeric_times.info()

#PCA

Standar scaler

In [50]:
from sklearn.preprocessing import StandardScaler
df_scaler_loads = StandardScaler().fit_transform(df_numeric_loads)
df_scaler_times = StandardScaler().fit_transform(df_numeric_times)

PCA - Loads

In [61]:
from sklearn.decomposition import PCA
pca = PCA(n_components=5)
pca_scaler_loads = pca.fit_transform(df_scaler_loads)

most important components in df_scaler_loads

In [62]:
import numpy as np
n_pcs= pca.components_.shape[0]
most_important = [np.abs(pca.components_[i]).argmax() for i in range(n_pcs)]
initial_feature_names = df_numeric_loads.columns.values.tolist()
most_important_names_loads = [initial_feature_names[most_important[i]] for i in range(n_pcs)]

PCA - Times

In [63]:
pca_ = PCA(n_components=5)
pca_scaler_times = pca_.fit_transform(df_scaler_times)

most important components in df_scaler_times

In [64]:
import numpy as np
n_pcs= pca_.components_.shape[0]
most_important = [np.abs(pca_.components_[i]).argmax() for i in range(n_pcs)]
initial_feature_names = df_numeric_times.columns.values.tolist()
most_important_names_times = [initial_feature_names[most_important[i]] for i in range(n_pcs)]

Result:

In [65]:
print(f'data con carga (Camion y Pala) = {most_important_names_loads}')
print(f'data sin carga (resto) = {most_important_names_times}')

data con carga (Camion y Pala) = ['totalloads', 'totaltime', 'start', 'tmcat03', 'tmcat04']
data sin carga (resto) = ['totaltime', 'start', 'tmcat01', 'tmcat04', 'tmcat06']