<a href="https://colab.research.google.com/github/cml096/GoogleColabRepo/blob/master/Regresion_Lineal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_excel('OperTot - PowerView_ARCH1.xlsx')

In [2]:
list_drop = ['ID','shiftindex','crew#','unit#','tmcat08','tmcat09','tmcat10','tmcat11','tmcat12','tmcat13','tmcat14','tmcat15','tmcat16','tmcat17','tmcat18','tmcat19']
df.drop(list_drop,axis=1,inplace=True)

In [3]:
df = df.rename(columns={'unit':'Unidad'})
df = df.rename(columns={'shift#':'Turno'})

In [4]:
df.Turno = df.Turno.astype(str)
df.totaltons = df.totaltons.astype(int)

In [10]:
df_numeric_loads = df[(df.Unidad == 'Camion') | (df.Unidad == 'Pala')]
df_numeric_times = df[(df.Unidad == 'Aljibe') | (df.Unidad == 'Auxil') | (df.Unidad == 'Moto') | (df.Unidad == 'Perforadora') | (df.Unidad == 'Tractor')]